In [73]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [74]:
df=pd.read_csv("MMA Fighters Gyms.csv")
df.head()

,title,country,stance,reach,age,weightClass,trainingCenter,wins,loses,draws,tkos,tko wins,tko lose,subs,subs win,subs lose
0,Pete Spratt,USA,Orthodox,NaN,47.0,Lightweight,NaN,12,18,0,5 1,5,1,5 14,5,14
1,Jonny Carson,USA,NaN,NaN,NaN,Lightweight,Skrap Pack,11,7,0,2 0,2,0,6 7,6,7
2,Sergio Quinones,USA,NaN,NaN,NaN,Featherweight,NaN,11,19,0,1 5,1,5,7 9,7,9
3,Alvin Cacdac,USA,Orthodox,NaN,NaN,Flyweight,NaN,17,13,0,8 2,8,2,7 9,7,9
4,Vincent Latoel,NETHERLANDS,NaN,NaN,39.0,Featherweight,NaN,16,18,2,7 3,7,3,7 14,7,14

In [75]:
df['weightClass'].replace(['Lightweight', 'Featherweight', 'Welterweight','Middleweight'
                          'Bantamweight','Light Heavyweight','Heavyweight',
                           'Flyweight',"Women's Flyweight","Women's Strawweight",'Open Weight',
                           "Women's Bantamweight",'Strawweight','Catch Weight',"Women's Featherweight",
                           "Catchweight","Lightweight - DREAM (70kg)","Women's Atomweight",
                           'Atomweight','Super Heavyweight',"Women's Lightweight",
                           "Women's Catch Weight","Bantamweight - Rizin (60 kg)","Light Middleweight"], [1,4,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], inplace=True)

In [76]:
df

,title,country,stance,reach,age,weightClass,trainingCenter,wins,loses,draws,tkos,tko wins,tko lose,subs,subs win,subs lose
0,Pete Spratt,USA,Orthodox,NaN,47.0,1,NaN,12,18,0,5 1,5,1,5 14,5,14
1,Jonny Carson,USA,NaN,NaN,NaN,1,Skrap Pack,11,7,0,2 0,2,0,6 7,6,7
2,Sergio Quinones,USA,NaN,NaN,NaN,4,NaN,11,19,0,1 5,1,5,7 9,7,9
3,Alvin Cacdac,USA,Orthodox,NaN,NaN,7,NaN,17,13,0,8 2,8,2,7 9,7,9
4,Vincent Latoel,NETHERLANDS,NaN,NaN,39.0,4,NaN,16,18,2,7 3,7,3,7 14,7,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21920,Chad George,USA,Southpaw,"68.0""",36.0,4,NaN,16,8,0,4 0,4,0,9 6,9,6
21921,Willy Ni,NETHERLANDS,NaN,NaN,NaN,1,Mike's Gym,15,9,0,3 2,3,2,9 7,9,7
21922,Geronimo dos Santos,NaN,Orthodox,NaN,37.0,6,NaN,39,19,1,26 - 9,26,9,9 8,9,8
21923,Josh Rave,USA,NaN,NaN,NaN,7,Elite Performance,21,12,0,5 2,5,2,9 8,9,8
21924,Mike Santiago,USA,Orthodox,NaN,28.0,4,Top Notch Fitness,20,12,0,7 2,7,2,9 8,9,8

In [79]:
cleandf = df.drop(['title', 'country', 'stance','reach','trainingCenter'], axis = 1)

In [80]:
cleandf.dropna()

,age,weightClass,wins,loses,draws,tkos,tko wins,tko lose,subs,subs win,subs lose
0,47.0,1,12,18,0,5 1,5,1,5 14,5,14
4,39.0,4,16,18,2,7 3,7,3,7 14,7,14
5,35.0,Bantamweight,23,13,1,10 2,10,2,9 11,9,11
7,37.0,2,28,17,0,7 2,7,2,10 9,10,9
9,44.0,6,13,11,0,10 7,10,7,0 - 0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
21918,35.0,2,22,8,0,8 2,8,2,9 5,9,5
21919,44.0,6,35,16,0,22 - 5,22,5,9 6,9,6
21920,36.0,4,16,8,0,4 0,4,0,9 6,9,6
21922,37.0,6,39,19,1,26 - 9,26,9,9 8,9,8
21924,28.0,4,20,12,0,7 2,7,2,9 8,9,8

In [96]:
cleandf['weightClass'].replace(['Bantamweight'], [24], inplace=True)
cleandf['weightClass'].replace(['Middleweight'], [25], inplace=True)

In [132]:
cleandf.to_csv('test.csv')

In [133]:
finaldf=pd.read_csv("test.csv")
finaldf.head()

,Unnamed: 0,age,weightClass,wins,loses,draws,tko wins,tko lose,subs win,subs lose
0,0,47,1.0,12,18,0,5,1,5,14
1,1,39,4.0,16,18,2,7,3,7,14
2,2,35,24.0,23,13,1,10,2,9,11
3,3,37,2.0,28,17,0,7,2,10,9
4,4,44,6.0,13,11,0,10,7,0,0

In [124]:
finaldf.dropna()
cleandf = finaldf.drop(['tkos', 'subs'], axis = 1)
cleandf

,age,weightClass,wins,loses,draws,tko wins,tko lose,subs win,subs lose
0,47,1.0,12,18,0,5,1,5,14
1,39,4.0,16,18,2,7,3,7,14
2,35,24.0,23,13,1,10,2,9,11
3,37,2.0,28,17,0,7,2,10,9
4,44,6.0,13,11,0,10,7,0,0
...,...,...,...,...,...,...,...,...,...
3656,35,2.0,22,8,0,8,2,9,5
3657,44,6.0,35,16,0,22,5,9,6
3658,36,4.0,16,8,0,4,0,9,6
3659,37,6.0,39,19,1,26,9,9,8
3660,28,4.0,20,12,0,7,2,9,8

### Creating total column

In [134]:
y = cleandf["wins"]

In [135]:
selected_features = cleandf.drop('wins', axis = 1)
X = selected_features
X

      age  weightClass  loses  draws  tko wins  tko lose  subs win  subs lose
0      47          1.0     18      0         5         1         5         14
1      39          4.0     18      2         7         3         7         14
2      35         24.0     13      1        10         2         9         11
3      37          2.0     17      0         7         2        10          9
4      44          6.0     11      0        10         7         0          0
...   ...          ...    ...    ...       ...       ...       ...        ...
3656   35          2.0      8      0         8         2         9          5
3657   44          6.0     16      0        22         5         9          6
3658   36          4.0      8      0         4         0         9          6
3659   37          6.0     19      1        26         9         9          8
3660   28          4.0     12      0         7         2         9          8

[3661 rows x 8 columns]

In [136]:
print("Shape: ", X.shape, y.shape)
X

Shape:  (3661, 8) (3661,)

      age  weightClass  loses  draws  tko wins  tko lose  subs win  subs lose
0      47          1.0     18      0         5         1         5         14
1      39          4.0     18      2         7         3         7         14
2      35         24.0     13      1        10         2         9         11
3      37          2.0     17      0         7         2        10          9
4      44          6.0     11      0        10         7         0          0
...   ...          ...    ...    ...       ...       ...       ...        ...
3656   35          2.0      8      0         8         2         9          5
3657   44          6.0     16      0        22         5         9          6
3658   36          4.0      8      0         4         0         9          6
3659   37          6.0     19      1        26         9         9          8
3660   28          4.0     12      0         7         2         9          8

[3661 rows x 8 columns]

In [141]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [142]:
# breaking data into train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [144]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [145]:
from sklearn.svm import SVC 
model2 = SVC(kernel='linear')
model2.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [131]:
print(f"Training Data Score: {model2.score(X_train, y_train)}")
print(f"Testing Data Score: {model2.score(X_test, y_test)}")

NotFittedError: This SVC instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [25]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression()

In [26]:
model.fit(X, y)

LinearRegression()

In [27]:
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)



print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.08960377127008101
Testing Score: 0.10067437656036204

In [28]:
model.fit(X_train_scaled, y_train)
training_score = model.score(X_train_scaled, y_train)
testing_score = model.score(X_test_scaled, y_test)



print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.09708856163645563
Testing Score: -1.0942569018229252e+22

In [29]:
filename = "predict_wins.sav"
#pickle.dump(model, (filename, "wb"))
with open(filename, 'wb') as file:
    pickle.dump(model, file)

In [30]:
X_test_scaled

array([[0.28888889, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.31111111, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.37777778, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.46666667, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.22222222, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.44444444, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [31]:
len(X_test_scaled[:1][0])

119

In [55]:
#Predictions for tuned model
predictions = model.predict(X_test_scaled)
# values from three columsn stored here
classifications = y_test.unique().tolist()
predicted = {
    'Actual': y_test,
    'Prediction': predictions
}
prediction_df = pd.DataFrame(predicted)
prediction_df = prediction_df.set_index('Actual').reset_index()
prediction_df.head(15)

    Actual  Prediction
0        2    9.528406
1        4   10.078172
2        0   11.075257
3       11    9.515896
4       45   12.447194
5       10    9.770512
6       12    9.285981
7        7   13.559236
8        8   13.111917
9        9    8.271427
10       1   11.091858
11      19   10.078172
12       9   11.335151
13      18   10.857853
14       8   10.194750

# Load (ETL)